name: API QA Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman newman-reporter-html

      - name: Create reports folder
        run: mkdir -p reports

      - name: Run API Tests
        run: |
          newman run "API QA Automation.postman_collection.json" \
          -e "API QA Automation.postman_environment.json" \
          -r cli,html \
          --reporter-html-export "reports/report.html"
